.value {
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
}

.diff {
  line-height: 1;
  display: flex;
  align-items: center;
}

.icon {
  color: var(--mantine-color-dimmed);
}

.title {
  font-weight: 700;
  text-transform: uppercase;
}
